class="compare-item"
data-name="{{ vendor.name }}"
data-country="{{ vendor._hq }}"
data-category="{{ vendor._category }}"
data-transparency="{{ vendor._transparency }}"
data-financial="{{ vendor._financial }}"
data-opsec="{{ vendor._opsec }}"
data-sanctions="{{ vendor._sanctionsBucket }}"
data-redflags="{{ vendor._redFlagCount }}"
data-sectors="{{ vendor._sectorsAttr }}"
data-sector-list="{{ vendor._sectorList }}"
data-buyers="{{ vendor._buyerNames }}"
data-products="{{ vendor._products }}"
data-customer-status="{{ vendor._customerStatus }}"
data-reviewed="{{ vendor._lastReviewed }}"
data-founded="{{ vendor._founded }}"
