class="compare-item"
data-name="{{ vendor.name }}"
data-country="{{ vendor.headquarters.country }}"
data-categories="{{ vendor.categories | join(' ') }}"
data-uses="{{ vendor.use_cases | join(' ') }}"
data-transparency="{{ vendor.scores.business_transparency.score }}"
data-financial="{{ vendor.scores.financial_health.score }}"
data-opsec="{{ vendor.scores.customer_opsec.score }}"
data-founded="{{ vendor.founded_year }}"
data-sanctions="{{ vendor.jurisdiction_sanctions.risk }}"
data-sectors="{{ vendor.known_customers | joinSectors }}"
data-sector-list="{{ vendor.known_customers | sectorList }}"
data-buyers="{{ vendor.known_customers | buyerNames }}"
data-products="{{ vendor.company.products | productNames }}"
